
<header class="app-header">
    <div class="header-logo">
        <img ngSrc="app/assets/imagens/logoheader.png" width="40" height="40" alt="Technology Solutions Logo"/>
    </div>
    <nav class="header-nav">

        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/sobre">Sobre</a></li>
            <li><a routerLink="/servicos">Serviços</a></li>
            <li><a routerLink="/vagas">Vagas</a></li>
            <li><a routerLink="/contato">Contato</a></li>

<!-- Botão de alternância de tema como um toggle switch -->
  <label class="theme-switch">
    <input type="checkbox" [checked]="isDarkTheme" (change)="toggleTheme()">
     <!-- ESSE ISDARKTHEME É UMA PROPRIEDADE DO ANGULAR QUE SINCRONIZA SE O BOTAO TA CLICADO OU NAO-->
    <span class="slider round"></span> <!-- PRA FAZER PARECER UM TOGGLE SWITCH (ESSE BOTAO QUE TA)-->
  </label>
        </ul>

         
     </nav>
<div class="header-buttons">
        <a routerLink="/login" class="secondary-button-outline">Faça seu Login</a>
    </div>
</header>
