services:
  php:
    build:
      context: ..
      dockerfile: infra/php/Dockerfile
    networks:
      - internal
    environment:
      HOST_UID: "${UID:-1000}"
      HOST_GID: "${GID:-1000}"
    volumes:
      - ../backend:/var/www/html:delegated
      - php_vendor:/var/www/html/vendor
      - php_cache:/var/www/html/bootstrap/cache
      - ./php/entrypoint.sh:/entrypoint.sh
    container_name: php
    expose:
      - "9000"
    entrypoint: ["sh","-lc","chmod +x /entrypoint.sh && /entrypoint.sh"]

  angular:
    build:
      context: ..
      dockerfile: infra/angular/Dockerfile
      target: builder
    volumes:
      - ../frontend:/app/
      - /app/node_modules
    command: sh -c "npm ci --silent && npm run start -- --host 0.0.0.0 --poll=1000"
    container_name: angular
    networks:
      - internal

  postgres:
    container_name: postgres-db
    restart: always
    image: postgres:17
    platform: linux/x86_64
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: hoppe
      POSTGRES_PASSWORD: passwd
      POSTGRES_DB: techsolu_db_docker
      # PGDATA: /var/lib/postgresql/18/docker
    volumes:
      # - ../db-data:/var/lib/postgresql/18/docker
      - ../db-data:/var/lib/postgresql/data
      - ../backend/database/:/docker-entrypoint-initdb.d/
    networks:
      - internal

  nginx:
    build:
      context: ..
      dockerfile: infra/nginx/Dockerfile
    depends_on:
      - angular
      - php
    ports: 
      - "8080:8080"
    networks:
      - internal
    volumes:
      - ../backend/:/var/www/html/
      # - ../frontend/dist/frontend-app/browser:/usr/share/nginx/html
      - ../logs/nginx:/var/log/nginx/
    container_name: nginx

networks:
  internal:
    driver: bridge

volumes:
  php_vendor:
  php_cache:
