
<section id="servicos" class="benefits-grid-section">
    <div class="main-content-container">
        
        <div class="benefit-description">
            <h2>Transformando a sua empresa com <b>soluções inteligentes</b> e seguras.</h2>
            <p>Nossa plataforma oferece uma experiência de onboarding simplificada e eficiente, garantindo que novos colaboradores se sintam acolhidos e produtivos desde o primeiro dia.</p>
        </div>

        <div class="carousel-wrapper">
            <button class="nav-button prev" (click)="scrollLeft()">&#10094;</button>
            <div class="benefits-grid-container">
                <div class="benefits-grid" #benefitsGrid>
                    <!-- A duplicação da lista de cards para o loop infinito agora será feita via código no TS -->
                    <div class="benefit-card" *ngFor="let item of images">
                        <img [ngSrc]="item.src" [alt]="item.title" width="200" height="200">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.text }}</p>
                    </div>
                </div>
            </div>
            <button class="nav-button next" (click)="scrollRight()">&#10095;</button>
            
            <!-- Indicadores do carrossel >> -->
            <div class="carousel-indicators">
              <span 
                class="indicator-dot" 
                *ngFor="let item of images; let i = index"
                [class.active]="i === currentCardIndex"
                (click)="goToSlide(i)"
              ></span>
            </div>
        </div>
    </div>
</section>
