<footer id="rodape" class="footer" tabindex="-1">
    <div class="container">
        <div class="footer-col about">
            <h3>Education Solutions</h3>
            <p>Transformando a educação através de soluções inovadoras de avaliação. O futuro da educação começa aqui.</p>
        </div>

        <div class="footer-col links">
            <h4>Recursos</h4>
            <ul>
                <li><a href="#">Banco de Questões</a></li>
                <li><a href="#">Banco de Avaliações</a></li>
                <li><a href="#">Aplicações Dinâmicas</a></li>
                <li><a href="#">Analytics</a></li>
            </ul>
        </div>

        <div class="footer-col links">
            <h4>Suporte</h4>
            <ul>
                <li><a href="#">Central de Ajuda</a></li>
                <li><a href="#">Documentação</a></li>
                <li><a href="#">Tutoriais</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>

        <div class="footer-col contact">
            <h4>Contato</h4>
            <div class="contact-info">
                <span><i class="fa-solid fa-envelope"></i> contato@educationsolutions.com</span>
            </div>
            <div class="contact-info">
                <span><i class="fa-solid fa-phone"></i> (11) 9999-9999</span>
            </div>
            <div class="contact-info">
                <span><i class="fa-solid fa-location-dot"></i> São Paulo, SP - Brasil</span>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container bottom-content">
            <span class="copyright">
                © 2025 Education Solutions. Todos os direitos reservados.
            </span>
            <div class="legal-links">
                <a href="#">Política de Privacidade</a>
                <span>|</span>
                <a href="#">Termos de Uso</a>
                <span>|</span>
                <a href="#">Cookies</a>
            </div>
        </div>
    </div>
</footer>