<footer class="app-footer">
    <h2 class="footer-title">Entre em contato conosco e saiba mais</h2>
    <div class="footer-content">
        <div class="footer-column">
            <h3>Redes Sociais</h3>
            <ul>
                <li><a href="#" target="_blank">Instagram: tech-solutions</a></li>
                <li><a href="#" target="_blank">Github: tech-solutions</a></li>
                <li><a href="#" target="_blank">Linkedin: tech-solutions</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Contato</h3>
            <ul>
                <li><a href="mail:contato@techsolutions.com">contatotechsolutions.com</a></li>
                <li>(82) 8888-9999</li>
                <li>Maceió - Alagoas</li>
            </ul>
        </div>
        <div class="footer-column direitos">
            <p>&copy; 2025 TechnologySolutions. Todos os direitos reservados.</p>
            <p><a href="#">Política de Privacidade</a> | <a href="#">Termos de Uso</a></p>
        </div>
    </div>
</footer>