:host {
  display: block;
  width: 100%;
}

.footer {
    background-color: #121621;
    color: #a0a6b5;
    padding: 40px 0; 
    font-family: Arial, sans-serif;
    line-height: 1.4; 
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

/* Títulos e Subtítulos */
.footer-col h3,
.footer-col h4 {
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px; 
    position: relative;
    font-weight: 500;
}

.footer-col h3:after,
.footer-col h4:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    background-color: #007bff;
    height: 2px;
    width: 30px; 
}

/*  Texto de descrição */
.footer-col p {
    font-size: 13px; 
    color: #a0a6b5;
    margin-bottom: 20px; 
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

/*  Links das Colunas */
.footer-col ul li a {
    font-size: 14px; 
    text-transform: capitalize;
    color: #a0a6b5;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 5px;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 5px; 
}

/* Informações de Contato */
.footer-col.contact .contact-info {
    margin-bottom: 5px; 
    display: flex;
    align-items: center;
    font-size: 14px; 
}

.footer-col.contact .contact-info i {
    margin-right: 8px; 
    color: #fff;
    font-size: 15px;
}

.social-links a {
    display: inline-block;
    height: 30px; 
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 8px 8px 0; 
    text-align: center;
    line-height: 30px; 
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    font-size: 14px;
}

.social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* Linha Inferior */
.footer-bottom {
    border-top: 1px solid #333;
    padding-top: 15px; 
    margin-top: 30px; 
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13px;
}

.legal-links a {
    color: #a0a6b5;
    text-decoration: none;
    transition: color 0.3s ease;
}

.legal-links a:hover {
    color: #ffffff;
}

.legal-links span {
    margin: 0 4px; 
    color: #a0a6b5;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 20px; 
    }
}
@media(max-width: 575px){
    .footer-col{
        width: 100%;
    }
    .bottom-content {
        flex-direction: column;
        text-align: center;
    }
    .legal-links {
        margin-top: 8px; 
    }
}