<section id="vagas" class="job-openings-section">
    <h2 class="section-title">Vagas Abertas</h2>
    <p class="job-intro">Junte-se à nossa equipe! Estamos em busca de profissionais que queiram crescer com a gente. Confira abaixo as oportunidades disponíveis:</p>

    <div class="job-list">
        <div class="job-item">
            <h3>Desenvolvedor(a) Front-end</h3>
            <span>Angular | Remoto</span>
        </div>
        <div class="job-item">
            <h3>Analista de Dados - Híbrido</h3>
            <span>(Maceió / AL)</span>
        </div>
        <div class="job-item">
            <h3>Estagiário(a) de RH - Presencial</h3>
            <span>Maceió / AL</span>
        </div>
    </div>
    <a href="#" class="secondary-button">Ver todas as vagas</a>
</section>

