<!-- frontend/src/app/pages/login/login.component.html -->

<div class="login-page-container">

   <!-- Botão de alternância de tema como um toggle switch -->
  <label class="theme-switch">
    <input type="checkbox" [checked]="isDarkTheme" (change)="toggleTheme()">
    <span class="slider round"></span>
  </label>

  <div class="login-form-section">
    <div class="login-content-wrapper">
      <h1>Login</h1> 
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input
            type="text"
            id="cpf"
            formControlName="cpf"
            mask="000.000.000-00"
            placeholder="000.000.000-00"
            [ngClass]="{'is-invalid': loginForm.get('cpf')?.invalid && loginForm.get('cpf')?.touched}"
          >
          <div *ngIf="loginForm.get('cpf')?.invalid && loginForm.get('cpf')?.touched" class="invalid-feedback">
            <div *ngIf="loginForm.get('cpf')?.errors?.['required']">CPF é obrigatório.</div>
            <div *ngIf="loginForm.get('cpf')?.errors?.['cpfInvalido']">CPF inválido.</div>
          </div>
        </div>

        <!-- Grupo de formulário para a Senha - COM MOSTRAR/ESCONDER -->
        <div class="form-group">
          <label for="password">Senha:</label>
          <!-- Novo wrapper para o input e o ícone, permitindo posicionamento relativo do ícone. -->
          <div class="password-input-wrapper"> 
            <input
              [type]="passwordVisible ? 'text' : 'password'" 
              id="password"
              formControlName="password"
              [ngClass]="{'is-ivalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
            >
            <!-- Botão/Ícone para alternar a visibilidade da senha.
                 O ícone SVG muda com base na propriedade 'passwordVisible'. -->
            <button type="button" class="toggle-password-visibility" (click)="togglePasswordVisibility()">
              <!-- Ícone de olho aberto (visível) quando a senha NÃO está visível (passwordVisible é false). -->
              <svg *ngIf="!passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                <path fill-rule="evenodd" d="M1.323 11.447A8.995 8.995 0 0 1 12 2.5c2.986 0 5.86.847 8.677 2.447a.75.75 0 0 1 0 1.106A8.995 8.995 0 0 1 12 21.5a8.995 8.995 0 0 1-8.677-2.447.75.75 0 0 1 0-1.106ZM12 18a6 6 0 1 0 0-12 6 6 0 0 0 0 12Z" clip-rule="evenodd" />
              </svg>
              <!-- Ícone de olho fechado (invisível) quando a senha ESTÁ visível (passwordVisible é true). -->
              <svg *ngIf="passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M3.28 2.22a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM12 5.25a5.25 5.25 0 0 0-3.844 8.499l1.208 1.208c-.781-.97-1.388-2.074-1.829-3.254a9.006 9.006 0 0 1 1.664-3.14A12.007 12.007 0 0 1 12 2.5c2.986 0 5.86.847 8.677 2.447a.75.75 0 0 1 0 1.106l-2.053 2.053a.75.75 0 1 0-1.06-1.06l2.053-2.053A7.494 7.494 0 0 0 12 5.25Z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M12 18a5.25 5.25 0 0 0 3.844-8.499l-1.208-1.208c.781.97 1.388 2.074 1.829 3.254a9.006 9.006 0 0 1-1.664 3.14 12.007 12.007 0 0 1-4.249 3.094Zm-2.499-1.208-1.207-1.207a.75.75 0 0 1 1.06-1.06l1.207 1.208a.75.75 0 0 1-1.06 1.06Z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')" class="invalid-feedback">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Senha é obrigatória.</div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Senha deve ter no mínimo 8 caracteres.</div>
            <div *ngIf="loginForm.get('password')?.errors?.['passwordStrength']">
              A senha deve conter:
              <ul>
                <li [ngClass]="{'valid': loginForm.get('password')?.errors?.['passwordStrength']?.hasUpperCase}">1 letra maiúscula</li>
                <li [ngClass]="{'valid': loginForm.get('password')?.errors?.['passwordStrength']?.hasLowerCase}">1 letra minúscula</li>
                <li [ngClass]="{'valid': loginForm.get('password')?.errors?.['passwordStrength']?.hasNumeric}">1 número</li>
                <li [ngClass]="{'valid': loginForm.get('password')?.errors?.['passwordStrength']?.hasSpecialChar}">1 caractere especial</li>
              </ul>
            </div>
          </div>
        </div>

        <button type="submit">Logar no Sistema</button>

        <a routerLink="/esqueci-senha" class="forgot-password-link">Esqueci minha Senha</a> 
      </form>

      <!-- Link para cadastro de novo usuário. -->
       <p class="signup-link">Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p> <!-- Fazer essa alteração de link para cadastro de novo usuário. -->

    </div>
  </div>

  <!-- Seção do lado direito: Contém a imagem relacionada ao sistema. -->
  <div class="login-image-section">

    <img src="app/assets/imagens/fundo-login.png" alt="Imagem relacionada à empresa ou sistema"> 
  </div>

  <!-- Botão de voltar para a página inicial. --> 
      <button routerLink="" class="back-to-home-button login-button-style">Voltar ao Início</button>
</div>
