<<<<<<< HEAD
body,
.page-wrapper {
    /* Adiciona um padding no topo igual à altura da barra (60px) */
    padding-top: 60px;
}


/* mobile */

.app-header {
    display: flex;
    flex-direction: column;
    /* pra centralizar verticalmente qd for empilhado */
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    /* espaçamento interno e lateral */
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    gap: 10px;
    z-index: 1000;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.header-logo img {
    height: 90px;
    width: auto;
}

.header-nav {
    margin: 10px 0px;
    justify-content: center;
    width: 100%;
}

.header-nav ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header-nav ul li a {
    text-decoration: none;
    color: #240046;
    font-weight: 500;
    font-size: 1.6em;
    display: block;
}

.header-nav ul li a:hover {
    color: #7B2CBF;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.secondary-button-outline {
    padding: 10px 20px;
    color: #3C096C;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: 600;
    text-decoration: none;
    display: block;
    width: 80%;
    max-width: 250px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #3C096C;
}

.secondary-button-outline:hover {
    background-color: #3C096C;
    color: white;
}


/*telas maiores (a partir de 768px) */

@media (min-width: 768px) {
    .app-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        gap: 20px;
    }
    .header-logo {
        margin-bottom: 0;
    }
    .header-logo img {
        height: 120px;
    }
    .header-nav {
        margin: 0 20px;
        width: auto;
    }
    .header-nav ul {
        flex-direction: row;
        gap: 25px;
    }
    .header-nav ul li a {
        font-size: 1.8em;
        display: inline-block;
    }
    .header-buttons {
        flex-direction: row;
        gap: 15px;
        width: auto;
        margin-top: 0;
    }
    .secondary-button-outline {
        display: inline-block;
        width: auto;
        max-width: none;
    }
}


/* telas maiores (acima de 1200px) */

@media (min-width: 1200px) {
    .app-header {
        padding: 20px 50px;
    }
    .header-logo img {
        height: 150px;
    }
    .header-nav ul {
        gap: 30px;
    }
    .header-nav li a {
        font-size: 2.2em;
    }
}
=======
>>>>>>> 70dba4379e0e55209f107b33a041cce7fcd12997
